.book_wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255,0.1);
    border-radius: 30px;
    row-gap: 40px;
    height: 550px;
    width: 290px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
       background-color: rgb(255,255,255,0.2)
    }    
}



.desc_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    row-gap: 15px;
    
    padding-bottom: 10px;

}

.genre_wrapper {
    padding: 8px;
   
    border-radius: 20px;
    font-size: 13px;
    width: fit-content;
    color: rgba(255,255,255,0.9)
}

