.main_header {
    width: calc(100vw - 300px);
    height: 90px;
    
    border-bottom: 1px solid rgba(86, 86, 88, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 0 120px;
    background: rgba(22, 26, 34, 0.8); 
    position: fixed;
    z-index: 5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
}


.button_view {
font-size: 13px;
font-weight: 700;

width: 200px;
height: 40px;
padding: 0 25px;
display: flex;
align-items: center;
color: rgb(21, 23, 29);
background: #6379e9;
opacity: 1;
border-radius: 10px;
border-width: 0px;
border-color: #FFFFFFFF;
border-style: solid;

cursor: pointer;
column-gap: 10px;
transition: all 0.1s;
    &:hover {
        color: #161A22FF;
        background: rgb(81, 98, 185);
    }
}

.header_buttons {
    font-size: 20px;
    color: rgb(165, 174, 189);

}

.icon_wrapper {
      background: transparent;
     border: none;
     padding: 12px 15px;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
      &:hover {
         background: rgba(125, 144, 197, 0.1);

         .header_buttons {
            color: rgb(255, 255, 255,0.9)
         }
         
    }
}