.selection_footer {
    width: 100%;
    min-height: 120px;
    border-top: 1px solid rgba(86, 86, 88, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px 0 320px;
    position: relative;
    z-index: 10;
    flex-shrink: 0;
}

.footer_links {
    display: flex;
    align-items: center;
    column-gap: 30px;

    a {
        font-size: 12px;
        color: rgb(107, 111, 117);
        font-weight: 500;
        text-decoration: none;
        transition: color 0.16s;

        &:hover {
            color: #BAC1CEFF;
        }
    }
}

.footer_copy {
    color: rgb(107, 111, 117);
    font-size: 13px;
}
