.recomms_row_main {
   display: flex;
   column-gap: 30px;
   align-items: center;
}

.books_list {
   display: flex;
   flex-grow: 1;
   gap: 20px;
   min-width: 0;
   overflow-x: hidden;
   scroll-behavior: smooth;

   > * {
      flex: 0 0 calc((100% - 80px) / 5);
   }
}

.next_or_back {
    font-size: 21px;
    color: rgb(165, 174, 189);
    
}

.icon_wrapper {
     padding: 12px 15px;
     border-radius: 10px;
     height: fit-content;
     display: flex;
     align-items: center;
     justify-content: center;
     background: transparent;
     border: none;
      cursor: pointer;
      &:hover {
         background: rgba(125, 144, 197, 0.1);

         .next_or_back {
            color: rgb(255, 255, 255,0.9)
         }
         
    }
}

.icon_wrapper:disabled {
   pointer-events: none;

   .next_or_back {
      color: rgba(245, 245, 245, 0.253);
   }
}
