.header_block_style {
    width: 100%;
    height: 180px;
     background: linear-gradient(145deg, 
      rgba(9, 7, 54, 0.4) 0%, 
      rgba(16, 11, 102, 0.4) 30%, 
      rgba(22, 9, 58, 0.4) 70%
    );
    background-color: rgba(9, 7, 54, 0.9);
    padding: 20px 50px 20px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-bottom: 2px solid rgba(205,205,205,0.1);
}

.header_first_row {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    align-items: center;
}

.first_start_block_wrapper {
    display: flex;
    column-gap: 10px;
 
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}




.header_second_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.clickable_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
    width: 85px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
}