.auth_page_styles {
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/0c/ac/5e/0cac5ed32498bfe3e707b8492e0db3e0.jpg');
    background-position: center center;     
    background-size: cover;                 
    background-repeat: no-repeat;       
    background-attachment: fixed;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_page_styles > * {
    position: relative;
    z-index: 2;
}
.auth_page_styles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
  
    z-index: 1;
}