.book_page_header {
    width: 100%;
    height: 100px;
    background-color: rgba(9, 7, 54, 0.2);
    border-bottom: 2px solid rgba(205,205,205,0.1);
    padding: 20px;
     display: flex;
    justify-content: center;
}

.book_page_header_inner {
    height: 100%;
    width: 72%;
    min-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.header_first_block {
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 100%;
}

.header_second_block {
    display: flex;
    align-items: center;
}

.clickable_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0;
  width: 85px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}