.fav_preview_wrapper {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding-bottom: 20px;
    background: #1E2029FF;
    border-radius: 10px;
      &:hover {


        .book_image {
            filter: brightness(0.8);
        }
       
    }
}


.book_image {
    width: 100%;
    max-width: 260px;           
    height: auto;             
    aspect-ratio: 300 / 450;   
    border-radius: 15px;
    margin-bottom: 5px;
    object-fit: cover;        
    transition: all 0.2s;


   
 
    
}

.preview_recomm_title {
    color: #F9FAFBFF;
    font-weight: 700;

    font-size: 17px;
    transition: all 0.2s;
}

.icon_wrapper {
      background: transparent;
     border: none;
     padding: 12px 15px;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
      &:hover {
         background: rgba(125, 144, 197, 0.1);

         .trash_button {
            color: rgb(255, 255, 255,0.9)
         }
         
    }
}
.trash_button {
    font-size: 18px;
    color: rgb(165, 174, 189);

}
