@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'MTSCompact';
    src: url('/public/fonts/MTSCompact-Bold-LBQB3WRX.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'MTSCompact';
    src: url('/public/fonts/MTSCompact-Medium-Y4SPBQKE.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MTSCompact';
    src: url('/public/fonts/MTSCompact-Regular-7LG3MIHS.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MTSWide';
    src: url('/public/fonts/MTSWide-Bold-XQ34CV62.ttf') format('truetype');
    font-weight:700;
    font-style: normal;
}

@font-face {
    font-family: 'MTSWide';
    src: url('/public/fonts/MTSWide-Medium-MH5A5AEJ.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MTSCompact';
 

}

img {
     user-select: none; 
  -webkit-user-drag: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
   pointer-events: none;
}



* {
    scrollbar-width: thin;
    scrollbar-color: rgba(105, 108, 126, 0.6) rgb(22, 27, 36);
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 20;
}

::-webkit-scrollbar-track {
    background: rgb(22, 27, 36) !important; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(99, 121, 233, 0.6);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 121, 233, 0.9);
}


body, html {
    scrollbar-track-color: rgb(22, 27, 36);  
}

