@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

img {
     user-select: none; /* Запрещает выделение */
  -webkit-user-drag: none; /* Запрещает перетаскивание в Safari/Chrome */
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для старых IE */
   pointer-events: none;
}